.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.row {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 29% 29% 29%;
}

.img-carusel {
    width: 100%;
}

.col-4 {
    text-align: center;
    padding: 1px 0;
    font-size: 16px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.contact-us-style {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.title-values {
    margin-top: 120px;
}

.values-content {
    padding:30px 10px 40px 10px; 
    color:#fff;
    font-size: 16px;
}

.icon-values {
    width: 16px;
}

.red-values {
    background-color: #ea7c6f;
    border: #e45c4e solid 3px;
}

.green-values {
    background-color: #6a996f;
    border: #48704b solid 3px;
}

.blue-values {
    background-color: #5696c2;
    border: #2e70a0 solid 3px;
}

form p {
    margin: 0;
    color:#e66b63;
}

label {
    display:inline-block;
    font-weight: 600;
    margin-top: 1em;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin: auto; */
}

.caption-text {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 700;
    background-color: #000;
    opacity: 0.6;
    padding: 10px 12px;
    position: absolute;
    margin-left:15%;
    bottom: 15%;
    width: 47%;
}
  

.shadow-text {
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    padding: 15px;
    width: 55%;
}

.input {
    width:100%;
    padding:10px 5px;
    border: #bcbcbc solid 1px;
}

.red-input-field {
    border:#e66b63 solid 1px ;
    width:100%;
    padding:10px 5px;
}

.textarea-field {
    width: 100%;
    height: 90px;
    padding: 10px 5px;
}

textarea:focus, input:focus{
    outline: #5696c2 solid 2px;
}

button {
    margin-top: 1em;
    padding: 10px 10px;
    width: 103%;
    border: #5696c2 ;
    background-color: #5696c2;
    color: #fff;
    outline: none;
    font-weight: 600;
}

.img-slider {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin:10px;
    padding: 13px 21px;
    margin-top: -60px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    user-select: none;
}

.list-dot {
    position: absolute;
    bottom: -20%;
    text-align: center;
    width: 100%;
}
  
.next {
   right: 0;
   border-radius: 50% 50%;
}
  
.prev:hover, .next:hover {
   background-color: #fff;
   color: #000;
}
  

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  .active, .dot:hover {
    background-color: #fff ;
}
  
  /* Fading animation */
  .fade {
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


