header {
    display: inline;
}

.text-title-navbar {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}

nav {
    display: flex;
    overflow: auto;
}

ul {
  list-style-type: none;
  margin:0;
  margin-right: 0;
  margin-left: auto;
}

li {
  float: left;
  padding: 20px 20px;
  font-weight: 600;
  color: #696d6e;
}

li:hover {
  background-color: #f4f4f4;
  
}
